body{
  font-family:Georgia, 'Times New Roman', Times, serif;

  gap: 30px;

  margin: 20px;
}

nav{
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
}

a:link{

  text-decoration: none;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
  /* flex-grow: 1; */
}

main img {
  display: flex;
  margin: auto;
}

main ul {
  display: flex;
  justify-content: space-evenly;
}

section{
  display: flex;
}
p{
  height: 300px; 
  width: 300px;
  overflow: auto;
  display: inline-flexbox;
}

button{
  transition: 350ms;
  height: 25px;

}

button:hover {
  background-color: rgba(71, 0, 213, 0.487);
} 

footer {
  background-color: #444;
  height: 150px;
}


