p{
  height: 300px; 
  width: 300px;
  overflow: auto;
}

Transition and Hover

button{
  transition: 2000ms;
}

button:hover {
  background-color: green;
} 

footer {
  background-color: #444;
  height: 150px;
}


